workflows-n8nagentesedesterritoriales.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-24T16:17:53.204Z",
  "id": "C0GqvWHYxoknrz09",
  "meta": null,
  "name": "agentesedesterritoriales",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        -240
      ],
      "id": "dc170acb-092e-45a3-8567-4d0c8c7f2935",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Eres una agente, responde la siguiente pregunta: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -360,
        -240
      ],
      "id": "ca358a56-e8ac-414e-8399-c680bc4f7b18",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -440,
        -20
      ],
      "id": "a6662865-b44b-42ee-8f48-050798f35d50",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "NQCaIfW9ruiVvrK4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents_sedes_territoriales",
          "mode": "list",
          "cachedResultName": "documents_sedes_territoriales"
        },
        "options": {
          "queryName": "match_documents_sedes_territoriales"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -160,
        100
      ],
      "id": "0d829300-eee7-4c3c-9462-3681936fee15",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "39W8A89HIb10eoXx",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -160,
        260
      ],
      "id": "441d433d-10ea-4d6d-9c4a-42c167efd667",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "DEpo99EJwas7sjrn",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        180,
        100
      ],
      "id": "173588d4-b563-4c9e-adf3-1ff6266961d5",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "NQCaIfW9ruiVvrK4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -260,
        -20
      ],
      "id": "f1fc53a2-45b8-4111-990a-230f3949d198",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YkWDJCP4jnGKXU0x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "documents_sedes",
        "description": "Contiene todos los documentos del usuario que puede consultar en busca de contexto para responder preguntas del usuario.",
        "topK": 3
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -100,
        -60
      ],
      "id": "27afef65-08df-49c7-b97c-a8d84f6b98ce",
      "name": "Retrieve Documents"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-26T10:44:59.000Z",
  "versionId": "f9ec7bcc-0318-450a-b295-ab1cfb8f213e"
}