workflows-n8nAgente AI: asistente de calendario de Google.json
{
  "active": true,
  "connections": {
    "Calendar AI Agent": {
      "main": [
        []
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Create events": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-20T10:14:50.323Z",
  "id": "C30GXSZ3QbEw8Ze1",
  "meta": {
    "templateId": "2703"
  },
  "name": "Agente AI: asistente de calendario de Google",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hola!!!",
        "options": {}
      },
      "id": "2e670a54-f789-4c8b-abba-ae35c458f5ed",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1360,
        620
      ],
      "webhookId": "5308edc9-738b-4aae-a789-214e2392579a",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "270176df-9c2d-4f1a-b017-9349cb249341",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1380,
        1040
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilice esta herramienta de Google Calendar cuando se le solicite crear un evento.",
        "calendar": {
          "__rl": true,
          "value": "family06768887662418209056@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "reuniones"
        },
        "start": "={{ new Date($fromAI(\"start_date\")).toISOString() }}",
        "end": "={{ new Date($fromAI(\"end_date\")).toISOString() }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [],
          "description": "={{ $fromAI('event_description') }} ",
          "summary": "={{ $fromAI('event_title') }} "
        }
      },
      "id": "634e6472-099c-4f0e-b9eb-67956c4881b8",
      "name": "Google Calendar - Create events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        2060,
        1040
      ],
      "typeVersion": 1.2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vf5bgRrnud34w82z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Activador de chat: Cuando se recibe un mensaje\n\nEste nodo es el **punto de entrada del flujo de trabajo**.\n\nActiva el flujo de trabajo cada vez que se envía un mensaje a la **interfaz de chat**.\n\nOpciones con n8n:\n- **Integrar la interfaz de chat** donde quieras.\n- Usa un **nodo webhook** en lugar de este nodo para conectar con interfaces como **[Streamlit](https://docs.streamlit.io/develop/tutorials/llms/build-conversational-apps)** o **[OpenWebUI](https://docs.openwebui.com/)**.\n- Usa nodos para plataformas de comunicación (**Slack**, **Teams**, **Discord**, etc.) si sabes cómo configurarlas.",
        "height": 560,
        "width": 400,
        "color": 7
      },
      "id": "5c93e130-29d5-489b-84ea-3e31f5849b3a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Agente de Herramientas - Agente de IA de Calendario\n\nEste **nodo** configura el **agente de IA** para la interacción con Google Calendar.\nIncluye las siguientes funciones:\n\n- Una **fuente de aviso**: Este es el mensaje del usuario derivado de la entrada de chat del nodo anterior (`Cuando se recibe el mensaje de chat`).\n\n- Un **mensaje del sistema**: Este define el aviso del sistema para guiar el comportamiento del agente de IA. Incorpora la variable `{{ DateTime.local().toFormat('cccc d LLLL yyyy') }`, lo que permite al agente de IA determinar la fecha actual e interactuar con Google Calendar en consecuencia. Por ejemplo, el agente puede comprender una solicitud como \"Crear un evento llamado 'n8n revisión de flujo de trabajo' para el próximo martes\".\n\nLos nodos n8n incluyen **barreras de seguridad** integradas, lo que garantiza que si el usuario solicita tareas fuera de la configuración del agente de IA, este podría no funcionar correctamente. (¡Pruébelo!)",
        "height": 660,
        "width": 1520,
        "color": 7
      },
      "id": "a1e850b4-d0fe-417c-8e1e-13fb4cdbb0a8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un asistente de Google Calendar.\nTu objetivo principal es ayudar al usuario a gestionar su calendario eficazmente mediante dos herramientas: creación y recuperación de eventos. Basa siempre tus respuestas en la fecha actual:\n{{ DateTime.local().toFormat('cccc d LLLL yyyy') }}.\nInstrucciones generales:\nSi el mensaje inicial del usuario es vago (p. ej., \"hola\" o un saludo genérico) o no especifica una solicitud, explica claramente tus capacidades:\nEjemplo: \"¡Hola! Puedo ayudarte a gestionar tu Google Calendar. Puedes pedirme que cree un evento o que recupere datos de eventos. ¿Qué deseas que haga?\".\nSi el usuario especifica una solicitud en su primer mensaje, empieza a prepararte para usar la herramienta adecuada:\nPara la creación de eventos, recopila los datos necesarios como la fecha de inicio, la fecha de finalización, el título y la descripción.\nPara la recuperación de eventos, solicita el rango de fechas o el período de tiempo que desea consultar. Herramienta: Creación de eventos\nAl solicitar la creación de un evento:\n\nSolicite al usuario las fechas y horas de inicio y fin.\nFormato de fecha: AAAA-MM-DD HH:mm:ss\nRecopile la siguiente información:\nstart_date: Fecha y hora exactas de inicio del evento.\nend_date: Fecha y hora exactas de fin del evento.\nevent_title: Título del evento en mayúsculas. Sugiera uno si no se proporciona.\nevent_description: Genere una breve descripción y preséntela para su confirmación.\nHerramienta: Recuperación de eventos\nAl solicitar la recuperación de eventos:\n\nSolicite el rango de fechas o el período de interés. Ejemplos:\nPara \"la semana pasada\", recupere los eventos desde el lunes de la semana anterior hasta el viernes de la misma semana.\nPara \"hoy\", utilice la fecha actual.\nFormatee el rango de fechas:\nstart_date: Fecha y hora de inicio en AAAA-MM-DD HH:mm:ss.\nend_date: Fecha y hora de fin en AAAA-MM-DD HH:mm:ss. Comportamientos clave:\nClaridad: Ofrecer una introducción clara y útil cuando la solicitud del usuario no esté clara.\nValidación: Confirmar los detalles con el usuario antes de finalizar las acciones.\nAdaptación: Gestionar diferentes niveles de detalle en las solicitudes (p. ej., \"Añadir una reunión para el próximo lunes por la mañana\" o \"Recuperar mis eventos para este fin de semana\").\nProactividad: Ofrecer sugerencias para completar la información faltante o aclarar entradas ambiguas.\nAdaptación lingüística: Asegurarse de que todas las interacciones, incluidos los títulos, las descripciones y los mensajes de los eventos, estén en el idioma del usuario para ofrecer una experiencia fluida."
        }
      },
      "id": "9b259245-5fd5-4798-973e-bc6aa15da20f",
      "name": "Calendar AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1780,
        620
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "## Modelo de chat de Ollama\n\nEste nodo especifica el modelo de chat que utiliza el agente.\n\nEn la plantilla, el LLM predeterminado es llama3.1:8b por su alta relevancia.\n\n\n",
        "height": 220,
        "width": 320,
        "color": 5
      },
      "id": "b902a7d0-c2ca-4ab9-9f2a-047b9ccb1678",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Memoria de búfer de ventana\n\nEste nodo gestiona la **memoria** del agente, específicamente la **longitud de la ventana de contexto** para el historial de chat.\nEl valor predeterminado es 5 mensajes.\n\nNota:\nLa **memoria** es **temporal**. Si desea **almacenar conversaciones con el agente**, debe usar otros nodos como **memoria de chat de Postgres**.\nEsto se puede configurar fácilmente con servicios como **[Supabase](https://supabase.com/)**.\n",
        "height": 340,
        "width": 320,
        "color": 5
      },
      "id": "c67e1e1b-ef9a-4fec-a860-4ec6b7439df6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        1180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Calendar - Obtener eventos\n\nEste subnodo es una herramienta utilizada por el agente de IA.\nSu propósito es **recuperar eventos según la entrada del usuario**.\n\nPor ejemplo: *\"¿Puede proporcionarme los eventos de la semana pasada sobre el proceso interno?\"*\n\nEl agente de IA está diseñado para **usar esta herramienta solo** cuando tiene un **rango de fechas**.\n\nSi el usuario no proporciona un rango de fechas, el **agente de IA se lo solicitará**.\n\nLas **variables** `{{ $fromAI('start_date') }}` y `{{ $fromAI('end_date') }}` son **rellenadas dinámicamente por la IA**.\n",
        "height": 500,
        "width": 320,
        "color": 5
      },
      "id": "bf719d53-e21b-4bd5-9443-c24d008f732b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        1020
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Calendar - Crear eventos\n\nEste subnodo es una herramienta utilizada por el agente de IA.\nSu propósito es **crear eventos basados ​​en la información proporcionada por el usuario**.\n\nPor ejemplo: \"¿Puede crear un evento 'Reunión de ingresos trimestrales' el [fecha] de [hora] a [hora]?\"\n\nEl agente de IA está diseñado para **usar esta herramienta solo** cuando tiene un **rango de fechas**.\n\nSi el usuario no proporciona un **rango de fechas**, el agente de IA se lo **solicitará**.\n\nLa IA completa dinámicamente las variables `{{ $fromAI('start_date') }}` y `{{ $fromAI('end_date') }}`.\n\nAntes de crear el evento, el agente de IA confirmará con el usuario** si el **título** y la **descripción** del evento son correctos. Las variables utilizadas para esto son:\n- `{{ $fromAI('event_title') }}`\n- `{{ $fromAI('event_description') }}`",
        "height": 720,
        "width": 320,
        "color": 5
      },
      "id": "e94eb1f8-df42-414b-9bec-9e6991a5a832",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2200,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        960,
        1020
      ],
      "id": "f7122053-e897-43a8-a234-542d2450424e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "NQCaIfW9ruiVvrK4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "family06768887662418209056@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "reuniones"
        },
        "timeMin": "={{ new Date($fromAI(\"start_date\")).toISOString() }}",
        "timeMax": "={{ new Date($fromAI(\"end_date\")).toISOString() }}",
        "options": {
          "timezone": {
            "mode": "list",
            "value": ""
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        1560,
        1040
      ],
      "id": "4ac26df2-bc2e-4bcc-82d9-e2962eba917d",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vf5bgRrnud34w82z",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-03-25T14:54:04.000Z",
  "versionId": "8219f82e-26cf-4090-93a6-797512d1f531"
}