workflows-n8nRAGconmemoria.json
{
  "active": false,
  "connections": {
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Buscar",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Buscar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Buscar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-11T15:30:13.130Z",
  "id": "gEDvA6kU7yXUr8Kz",
  "meta": null,
  "name": "RAGconmemoria",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "b555e391-5b77-4077-a436-59d9b73bc69e",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1720,
        1280
      ]
    },
    {
      "parameters": {
        "content": "\n",
        "height": 1132,
        "width": 3077,
        "color": 5
      },
      "id": "b436616a-b8b0-4761-ab05-caa764008322",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1060,
        900
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "12488b02-cbe2-46cb-ac4d-b67777b64b1f",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        840,
        1080
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2hXlyK5bG8OVDfOA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "3c209dcb-e2ee-4788-bf67-08458b830784",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1220,
        1080
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents_rag_nuevo",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "4ec2e107-cf2d-4933-8fc2-66910ad5a13d",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -100,
        1080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "39W8A89HIb10eoXx",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "71ecdf3f-cf2b-4e5a-9fc8-dac600c11b09",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        1080
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1at6D8KX2cVbyb0PBNn5wvh6MOFK474IG",
            "mode": "list",
            "cachedResultName": "n8n Documents",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1at6D8KX2cVbyb0PBNn5wvh6MOFK474IG"
          }
        },
        "options": {}
      },
      "id": "d6e02a80-be0c-4fc6-8926-b6bfc6077272",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        200,
        1080
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2hXlyK5bG8OVDfOA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1at6D8KX2cVbyb0PBNn5wvh6MOFK474IG",
            "mode": "list",
            "cachedResultName": "n8n Documents",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1at6D8KX2cVbyb0PBNn5wvh6MOFK474IG"
          }
        },
        "options": {}
      },
      "id": "8c8d2585-df1b-47ec-8b83-42b93f59f32e",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -640,
        1080
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2hXlyK5bG8OVDfOA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "523fe412-9d26-4fb6-b6b9-066964cab968",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "44d1b596-e809-4016-aa6c-78dc76944185",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1080
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_rag_nuevo",
          "mode": "list",
          "cachedResultName": "documents_rag_nuevo"
        },
        "options": {
          "queryName": "match_documents_rag_nuevo"
        }
      },
      "id": "c1046b89-105f-447e-95a6-7703e286ddc4",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1620,
        1080
      ],
      "credentials": {
        "supabaseApi": {
          "id": "39W8A89HIb10eoXx",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "jinaai/jina-embeddings-v3",
        "options": {
          "endpointUrl": ""
        }
      },
      "id": "14d6cc16-3feb-4a55-a267-411a9931e0d7",
      "name": "Embeddings HuggingFace Inference1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1540,
        1320
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "DEpo99EJwas7sjrn",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {},
      "id": "893e3f56-ebec-43ac-a8db-2b550128f8b4",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        1080
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "=Hi there! 🙏\n\nYou can ask me anything about Venerable Geshe Kelsang Gyatso's Book - 'How To Transform Your Life'\n\nWhat would you like to know? ",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "dc658f38-e658-4c19-9c4d-a375bb004e26",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        40,
        140
      ],
      "webhookId": "260c501d-f86f-43ea-8d6a-b35de0fac817",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Tu nombre es ALMA, eres la asistente virtual de OSEP (Obra Social de Empleados Públicos de la Provincia de Mendoza).\nRespondes con tono informal, empático y amable. \nVives en la nube, Trabajas  24/7. Responde con un máximo de 100 caracteres.\nReglas:\n1. Tus respuestas deben ser como para mensajes de WhatsApp, usa \"*\" para poner negrita y/o \"_\" para italic para marcar lo importante. \n2. Usa emojis en tus respuestas.\n3. Nunca adivinar, solo proporcionar información basada en el RAG\n4. Solo responde consultas acerca de OSEP.\n5. Nunca hables mal de OSEP.\nAhora, procede a responder la siguiente pregunta teniendo en cuenta estas instrucciones:\n----------------\n{context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        380,
        140
      ],
      "id": "fa63d834-1561-4650-bce9-95c1e7c66290",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents_rag_nuevo",
          "mode": "list",
          "cachedResultName": "documents_rag_nuevo"
        },
        "options": {
          "queryName": "match_documents_rag_nuevo"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        560,
        520
      ],
      "id": "6a23c996-a00c-4842-b996-893588c150fd",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "39W8A89HIb10eoXx",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "jinaai/jina-embeddings-v3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        520,
        660
      ],
      "id": "1c10976d-4e0a-40e3-ba66-bdb4e077c336",
      "name": "Embeddings HuggingFace Inference2",
      "credentials": {
        "huggingFaceApi": {
          "id": "DEpo99EJwas7sjrn",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0,
          "vocabOnly": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        900,
        520
      ],
      "id": "c4fefa85-cc20-4fa4-bd1f-167e5cb4d575",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "NQCaIfW9ruiVvrK4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "# RETRIEVAL",
        "height": 822,
        "width": 1131,
        "color": 5
      },
      "id": "8e32e7b7-40f4-41b1-977c-8d55bb1533e7",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0,
          "vocabOnly": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "id": "5764f20f-c5cd-4509-b87c-942a2fd63f0b",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "NQCaIfW9ruiVvrK4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1820,
        1500
      ],
      "id": "fb4aedf7-5509-435e-bd72-7b11276a501a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "name": "Buscar",
        "description": "Contiene todos los documentos del usuario que puede consultar en busca de contexto para responder preguntas del usuario."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        700,
        380
      ],
      "id": "dc0ed078-39da-42dc-8e4d-dbb1c18a3764",
      "name": "Buscar"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        460,
        400
      ],
      "id": "4be78220-c6d9-4ae8-9001-d28ca9e37830",
      "name": "Window Buffer Memory"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-12T17:46:56.000Z",
  "versionId": "035c6ecf-6885-4199-94c3-9095611c2380"
}