workflows-n8nSupabase recuperacion info.json
{
  "active": false,
  "connections": {
    "Retrieve by Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Customize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve by Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-28T10:28:27.029Z",
  "id": "CWhNgnvtXMjGCD6W",
  "meta": {
    "templateId": "2395"
  },
  "name": "Supabase recuperacion info",
  "nodes": [
    {
      "parameters": {
        "content": "# RETRIEVAL",
        "height": 821.9537074055816,
        "width": 810.9488123113013,
        "color": 5
      },
      "id": "12b1283b-5d34-47ce-b362-d59298e6da67",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7944acfe-9eb5-4993-b6de-206171d329b4",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        2340,
        380
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "topK": 10
      },
      "id": "50ad080a-0bb7-4e82-b925-0255c2b85720",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        2460,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "440fc115-ccae-4e30-85a5-501d0617b2cf",
              "name": "output",
              "type": "string",
              "value": "={{ $json.response.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "85b387dc-09df-4592-9759-ba399615b60f",
      "name": "Customize Response",
      "type": "n8n-nodes-base.set",
      "position": [
        2680,
        380
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": "output || text"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "=Hi there! 🙏\n\nYou can ask me anything about Venerable Geshe Kelsang Gyatso's Book - 'How To Transform Your Life'\n\nWhat would you like to know? ",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "15e5853a-7eae-47f1-b1e1-1de32fb7671b",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        2140,
        380
      ],
      "webhookId": "260c501d-f86f-43ea-8d6a-b35de0fac817",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "a6412ea8-0b61-4f21-ab15-947d179771a4",
      "name": "Retrieve by Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        2360,
        720
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "39W8A89HIb10eoXx",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.1,
          "topK": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2260,
        600
      ],
      "id": "2f9c014a-59d5-430f-b7b2-69d1810b6b2f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "NQCaIfW9ruiVvrK4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "intfloat/multilingual-e5-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        2300,
        880
      ],
      "id": "171cabe0-cdd7-42c2-9e24-9a5b6a5b3c92",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "DEpo99EJwas7sjrn",
          "name": "HuggingFaceApi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-28T11:39:04.000Z",
  "versionId": "1bf2e6be-37d9-402a-9814-afb4e81920ea"
}